<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Painel - Sistema de Ponto CRO-RJ</title>
    <link rel="stylesheet" type="text/css" href="/css/estiloConteudo.css">
</head>

<body>

    <form>
        <ul class="form-style-1">
            <p id="msgValidacao"><h3></h3></p>

            <li> <label>Nome: <span class="required">*</span> </label> <input type="text" id="nome" name="nome"
                    placeholder="Digite seu nome completo..." /></li>
            <li> <label>Matrícula: <span class="required">*</span></label><input type="text" id="matricula"
                    name="matricula" placeholder="Digite sua matrícula..." /></li>
            <li> <label>Função: <span class="required">*</span></label><input type="text" id="funcao" name="funcao"
                    placeholder="Digite sua função..." /></li>
            <li> <label>Usuário: <span class="required">*</span></label><input type="text" id="usuario" name="usuario"
                    placeholder="Digite seu usuário..." /></li>

            <li> <label>Senha:
                    <span class="required">*</span></label><input type="password" id="senha" name="senha"
                    placeholder="Digite uma senha..." /></li>

            <li> <label>Confirmação de Senha: <span class="required">*</span></label><input type="password"
                    id="confirmaSenha" name="confirmaSenha" placeholder="Confirme sua senha..." /></li>

            <li> <button type="submit" id="botaoCadastro" name="botaoCadastro">Cadastrar</button>
            </li>


        </ul>
    </form>

    <script>

        document.getElementById("botaoCadastro").addEventListener("click", function (event) {
            event.preventDefault();

            var formData = new FormData();

            var nome = document.getElementById("nome").value;
            var matricula = document.getElementById("matricula").value;
            var funcao = document.getElementById("funcao").value;
            var usuario = document.getElementById("usuario").value;
            var senha = document.getElementById("senha").value;
            var confirmaSenha = document.getElementById("confirmaSenha").value;


            formData.append("nome", nome);
            formData.append("matricula", matricula);
            formData.append("funcao", funcao);
            formData.append("usuario", usuario);

            formData.append("senha", senha);
            formData.append("confirmaSenha", confirmaSenha);


            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function () {

                if (xhr.readyState == 4) {
                    var resposta = xhr.responseText;
                    console.log(resposta)

                    //talvez sirva para recarregar a pagina
                    xhr.onload = function () {
                        if (resposta === "invalido") {
                            var msgValidacao = document.getElementById("msgValidacao");
                            msgValidacao.innerHTML = "ATENÇÃO: Há campos vazios ou inválidos!"


                        }

                        if (resposta === "senhasnaoiguais") {
                            var msgValidacao = document.getElementById("msgValidacao");
                            msgValidacao.innerHTML = "ATENÇÃO: Campos senha e confirmação devem ser iguais!"


                        }

                        if (resposta === "jatemusuario") {
                            var msgValidacao = document.getElementById("msgValidacao");
                            msgValidacao.innerHTML = "ATENÇÃO: Usuário já existente no sistema!"


                        }


                        if (resposta === "valido") {
                            var msgValidacao = document.getElementById("msgValidacao");
                            msgValidacao.innerHTML = "ATENÇÃO: Novo funcionário para registro de ponto cadastrado com sucesso!"

                            document.getElementById("nome").value = "";
                            document.getElementById("matricula").value = "";
                            document.getElementById("funcao").value = "";
                            document.getElementById("usuario").value = ""
                            document.getElementById("senha").value = "";
                            document.getElementById("confirmaSenha").value = "";


                        }
                    }


                    //  document.write(Date());



                }
            }

            xhr.open("POST", "http://localhost:8080/painel/cadastraFuncionario");
            xhr.send(formData);

            // location.reload()


        });

    </script>
</body>

</html>