<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/estiloPainel.css">
    <link rel="stylesheet" type="text/css" href="/css/estiloConteudo.css">
    <title>Painel - Sistema de Ponto CRO-RJ</title>
</head>

<body>
    <div class="example">
        <ul class="nav">

            <div id="menu">
                <li><a id="home" class="active">Home</a></li>
                <li> <a id="relatorio">Gerar Relatório de Ponto</a></li>
                <li><a id="cadastro-funcionario">Cadastrar Funcionário</a></li>
                <li><a id="cadastro-administrador">Cadastrar Administrador</a></li>
                <li><a id="sair" class="active">Sair</a></li>
            </div>

          

            <div id="conteudo" class="conteudo">
                    <br><h1><p class="apresentacao"> Painel do sistema de ponto eletrônico</p></h1><img class="print-finger" src="/images/fingerprint.gif" height="200" width="420">
            </div>





        </ul>
    </div>


</body>

</html>



<script>

    document.getElementById("home").addEventListener("click", function (event) {
        event.preventDefault();

        document.getElementById("conteudo").innerHTML = '<br><h1><p class="apresentacao"> Painel do sistema de ponto eletrônico</p></h1><img class="print-finger" src="/images/fingerprint.gif" height="200" width="420">';




    })

    document.getElementById("relatorio").addEventListener("click", function (event) {
        event.preventDefault();

        let conteudo = document.getElementById("conteudo").innerHTML = '<br><br><br><iframe src="/painel/relatorio" height="550" frameBorder=0 width="99.8%" id="iframepesquisar" name="iframepesquisar"/>';




    })

    document.getElementById("cadastro-funcionario").addEventListener("click", function (event) {
        event.preventDefault();

        document.getElementById("conteudo").innerHTML = '<br><br><br><iframe src="/painel/cadastrarFuncionario" height="550" frameBorder=0 id="iframecadastrafuncionario" name="iframecadastrafuncionario"/>'


    })

    document.getElementById("cadastro-administrador").addEventListener("click", function (event) {
        event.preventDefault();


        document.getElementById("conteudo").innerHTML = '<br><br><br><iframe src="/painel/cadastrarAdministrador" height="550" frameBorder=0 id="iframecadastraadministrador" name="iframecadastraadministrador"/>'



    })

    document.getElementById("sair").addEventListener("click", function (event) {
        event.preventDefault();

        window.location.href = "/painel/sair"
    })
</script>