<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <title>Painel - Sistema de Ponto CRO-RJ</title>
</head>

<body>
    <div id="menu"  class="topnav">
        <a id="home"  class="active">Home</a>
        <a id="pesquisar" >Pesquisar</a>
        <a id="cadastro-funcionario" >Cadastrar Funcionário</a>
        <a id="cadastro-administrador" >Cadastrar Administrador</a>
    </div>

    <div id="conteudo">
            <h1><p>Painel do sistema de ponto eletrônico</p></h1><img src="/images/fingerprint.gif" height="200" width="420">

    </div>

    <script>

        document.getElementById("home").addEventListener("click", function (event) {
            event.preventDefault();

            document.getElementById("conteudo").innerHTML = '<h1><p>Painel do sistema de ponto eletrônico</p></h1><img src="/images/fingerprint.gif" height="200" width="420">';

            


        })

        document.getElementById("pesquisar").addEventListener("click", function (event) {
            event.preventDefault();

            let conteudo = document.getElementById("conteudo").innerHTML = "pesquisar";

            


        })

        document.getElementById("cadastro-funcionario").addEventListener("click", function (event) {
            event.preventDefault();

            let conteudo = document.getElementById("conteudo").innerHTML = "cadastro-funcionario";


        })

        document.getElementById("cadastro-administrador").addEventListener("click", function (event) {
            event.preventDefault();


            document.getElementById("conteudo").innerHTML = '<iframe src="/painel/cadastrarAdministrador" heigth="1000" width="99.8%" id="iframecadastraadministrador" name="iframecadastraadministrador"/>'
			
            

        })
    </script>
</body>

</html>