<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/estiloPainel.css">
    <link rel="stylesheet" type="text/css" href="/css/estiloConteudo.css">
    <title>Painel - Sistema de Ponto CRO-RJ</title>
</head>

<body>
    <div class="example">
        <ul class="nav">

            <div id="menu">
                <li><a id="home" class="active">Home</a></li>
                <li> <a id="relatorio">Gerar Relatório de Ponto</a></li>
                <li><a id="cadastro-funcionario">Cadastrar Funcionário</a></li>
                <li><a id="cadastro-administrador">Cadastrar Administrador</a></li>
                <li><a id="sair" class="active">Sair</a></li>
            </div>

          

            <div id="conteudo" class="conteudo">
                    <br><h1><p class="apresentacao"> Painel do sistema de ponto eletrônico</p></h1><img class="print-finger" src="/images/fingerprint.gif" height="200" width="420">
            </div>





        </ul>
    </div>


</body>

</html>



<script src="/js/index.js"></script>