<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <title>Painel-Sistema de Ponto CRO-RJ</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#pesquisar">Pesquisar</a>
        <a href="#cadastrar-funcionario">Cadastrar Funcionário</a>
        <a href="#cadastrar-administrador">Cadastrar Administrador</a>
      </div>
</body>
</html>