<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Painel - Sistema de Ponto CRO-RJ</title>
    <link rel="stylesheet" type="text/css" href="/css/estiloLogin.css">
</head>

<body>

        <div class="login-wrap">
            
            <div class="login-html">
                    <p id="msgValidacao"></p>
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">SISTEMA DE GERENCIAMENTO DE PONTO - CRO-RJ</label>
                    
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
                    
                    <div class="login-form">
                        <div class="sign-in-htm">
                            <div class="group">
                                <label for="user" class="label">USUÁRIO</label>
                                <input type="text" id="usuario" name="usuario" placeholder="Digite seu usuário" class="input">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">SENHA</label>
                                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" class="input" >
                            </div>
                            <div class="group">
                                <button id="botaoEntrar" type="submit" class="button">ACESSAR</button>
                               
                            </div>
                            <div class="hr"></div>

                          
                            
                        </div>
                       
                    </div>
                </div>
            </div>


</body>

</html>

<script src="/js/login.js"></script>