<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Painel - Sistema de Ponto CRO-RJ</title>
</head>
<body>
    Usuário precisa fazer login!
    <br><br>
    <a href="login">Acessar login</a>
</body>
</html>